<body>
  <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #01658e;">
    <a class="navbar-brand" href="index">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/WCAG-508-Compliance">WCAG & 508 Compliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/VPAT">VPAT Document</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/ADA-Certification">ADA-Certification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/Monitoring">Accessibilitiy Monitoring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/News-Resources">News/Resources</a>
        </li>
      </ul>
    <!--  <form class="form-inline my-2 my-lg-0"  action="mailto:info@kaffeinatedkodemonkey.com?subject=Evaluation">
        <p class="mt-3 mr-3 text-warning"><strong>Get a free page Evaluation</strong></p>
      <input class="form-control mr-sm-2" type="email" placeholder="Sumbit Email" aria-label="Get Site Evaluation">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Evauation</button>
    </form> -->
    <p class="text-orange pt-3 mr-5 "><i class="fas fa-phone"></i> <strong>(720) 608-1444</strong></p>
    </div>
  </nav>
