<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=194904660574494&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

  <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="index">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.url }}/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/VPAT">VPAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/508">508 & WCAG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/Monitoring">Monitoring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/Blog">News/Resources</a>
        </li>
      </ul>

    </div>
  </nav>
</header>
