
<div class="row">
  <div class="col-10 offset-md-2">
    <h1 class="sr-only">Accessibility Testing - Get your site tested Today<h1>
    <figure class="hidden-xs hidden-sm">
      <img class="img-fluid" src="{{ site.url }}/assets/images/Accessibility-Testing.png" style="width: 80%;" alt="WA Testing">
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-8 offset-md-2 text-right">
    <p><a class="btn btn-lg btn-info" href="https://meetings.hubspot.com/kaffeinatedkodemonkey" target="_blank" role="button">Book a Free Consultation</a></p>
  </div>
</div>

<hr class="featurette-divider">

<!--Welcome Statement -->
<div class="row mb-3">
  <div class="col-2 ml-5">
    <img class="img-fluid img-thumbnail" src="{{ site.url }}/assets/images/AccessibilityBenefits.jpeg" alt="Why Accessibility is important">
  </div>
  <div class="col-8 mt-4 pt-4 ml-4">
    <h2 class="pb-3" id="content">Why Accessibility is important</h2>
    <p>There are at least three reasons that might motivate a company to create accessible web content:</p>
    <ul>
      <li>To improve the lives of people with disabilities <span class="text-muted"><i>(human-centered motivations)</i></span></li>
      <li>To capitalize on a wider audience or consumer base <span class="text-muted"><i>(marketing or economic-centered motivations)</i></span></li>
      <li>To avoid lawsuits and/or bad press <span class="text-muted"><i>(public relations and punishment-centered motivations)</i></span></li>
    </ul>

    <p class="lead text-success"><strong>Accessibility driven web sites accomplish all these goals when people are at the center of the process.</strong></p>

    <p>This is why the Kaffeinated Kodemonkey team strives to use the <strong><i>POUR</i></strong> principles set forth by the WCAG:</p>

      <ul>
        <li><strong>Perceivable</strong> - Information and user interface components must be presentable to users in ways they can perceive. This means that users must be able to perceive the information being presented (it can't be invisible to all of their senses)</li>
        <li><strong>Operable</strong> - User interface components and navigation must be operable. This means that users must be able to operate the interface (the interface cannot require interaction that a user cannot perform)</li>
        <li><strong>Understandable</strong> - Information and the operation of user interface must be understandable. This means that users must be able to understand the information as well as the operation of the user interface (the content or operation cannot be beyond their understanding)</li>
        <li><strong>Robust</strong> - Content must be robust enough that it can be interpreted reliably by a wide variety of user agents, including assistive technologies. This means that users must be able to access the content as technologies advance (as technologies and user agents evolve, the content should remain accessible)</li>

      </ul>

      <p>Those who are simply trying to avoid lawsuits realize they must be considered and addressed people with disabilities within their targeted audience.</p>
  </div>
</div>

<hr class="featurette-divider">

<!-- Featured Products -->
<div class="container">
  <div class="row mb-2">
    <div class="col">
      <h2 class="text-center pb-3">Evaluate - Certify - Monitor</h2>

      <p class="text-center lead">Our team is dedicated to helping companies complete a VPAT Evaluation and become WA-Certified.</p>
    </div>
  </div>
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ site.url }}/assets/images/AccessibiltyImageBG.jpg" alt="VPAT Evaluation">
        <div class="card-body">
          <h3 class="card-subtitle text-center">VPAT Evaluation</h3>
          <h4 class="card-title text-center"><span class="small text-danger">*</span> $999 one-time</h4>
          <ul class="mb-5 pb-5">
            <li class="text-left">Evaluation Audit</li>
            <li class="text-left">VPAT Document</li>
            <li class="text-left">Letter of Accessibility</li>
          </ul>

          <p class="text-center"><a href="{{site.url}}/VPAT" class="btn btn-md btn-info mt-5">Get Evaluated</a></p>
        </div>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <div class="card shadow-lg p-3 mb-5 bg-light rounded" style="width: 20rem;">
        <img class="card-img-top" src="{{ site.url }}/assets/images/AccessibiltyImageBG.jpg" alt="WA-Certification">
        <div class="card-body">
          <h3 class="card-subtitle text-center">WA-Certification</h3>
          <h4 class="card-title text-center"><span class="small text-danger">*</span> $2999 one-time</h4>
          <ul class="mb-5 pb-3">
            <li class="text-left">Evaluation Audit</li>
            <li class="text-left">VPAT Document</li>
            <li class="text-left">Validation Badge</li>
            <li class="text-left">How-To-Fix Document</li>
            <li class="text-left">Accessibility Statement</li>
            <li class="text-left">Certification Valid for 1 year</li>
          </ul>

          <p class="text-center"><a href="{{site.url}}/WA-Certification" class="btn btn-lg btn-danger mt-3">Get Certified</a></p>
        </div>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ site.url }}/assets/images/AccessibiltyImageBG.jpg" alt="Accessible Monitoring">
        <div class="card-body">
          <h3 class="card-subtitle text-center">Accessibility Monitoring</h3>
          <h4 class="card-title text-center"><span class="small text-danger">*</span> $259 mo</h4>

          <ul>
            <li class="text-left">WA Certification</li>
            <li class="text-left">Flexible Reporting</li>
            <li class="text-left">Accessibility Testing</li>
            <li class="text-left">Access to manage pages</li>
            <li class="text-left">Track progress over time</li>
            <li class="text-left">Unlimited users & groups</li>
            <li class="text-left">Unlimited Sites & Scanning</li>
          </ul>
          <h5 class="small text-left text-muted">Requires 1 year contract</h5>

          <p class="text-center"><a href="{{site.url}}/Monitoring" class="btn btn-info btn-md mt-3">Start Monitoring</a></p>
        </div>
      </div>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col ml-3">
      <p><span class="text-danger">*</span> Pricing varies based on the size of the site.</p>
    </div>
  </div>
</div><!-- /.container -->
