<div class="row">
  <div class="col">
    <a href="https://www.linkedin.com/in/{{site.linkedin}}" target="_blank" title="LinkedIn - Kaffeinated Kodemonkey"><img src="{{site.url}}/assets/images/linkedin.png" alt="LinkedIn - Kaffeinated Kodemonkey"> Kaffeinated Kodemonkey</a>
  </div>
</div>

<hr />

<div class="row">
  <div class="col">
  <div class="fb-like" data-href="https://www.facebook.com/WebAccessibiltiy/" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  </div>
</div>
