
    {% include head.html %}
    {% include header.html %}

    <main role="main">
      <div class="row">
        <div class="col-10 offset-md-2">
          <h2 class="sr-only">{{ page.caption }}<h2>
          <figure>
            <img class="img-fluid" src="{{ site.url }}/assets/images/{{ page.image }}" style="width: 80%;" alt="{{ page.title }} banner image">
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-md-2 text-right">
          <p><a class="btn btn-lg btn-info" href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank" role="button">Book a Free Consultations</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row">
          <div class="col-6 offset-2">
            {{ content }}
          </div>
          <div class="col-3">
            <p><img src="{{ site.url }}/assets/images/Accessibilty-Audit-Hero-Image.jpg" style="width:85%;" class="img-thumbnail img-fluid" alt="Web Accessibilty Brochure"></p>

            {% if page.category == "VPAT" %}
              {% include VPAT-Brochure.html %}
            {% else %}
              {% include Web-Accessibility-Brochure.html %}
            {% endif %}
          </div><!-- Column -->
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- FOOTER -->
      {% include footer.html %}
