<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

    {% include head.html %}
    {% include header.html %}

    <main role="main">
      <div class="row">
        <div class="col-4 offset-md-2">
          <h2 class="sr-only">VPAT Documnets - Get a Free Consultation Today<h2>
          <figure class="nidden-xs hidden-sm">
            <img class="first-slide" src="{{ site.url }}/assets/images/{{ page.image }}" alt="{{ page.title }} banner image">
          </figure>
        </div>
      </div>
      <div class="row pr-4">
        <div class="col-8 offset-md-2 text-right">
          <p><a class="btn btn-lg btn-info" href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank" role="button">Book a Free Consultations</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container">
        <div class="row">
          <div class="col">
              {{ content }}
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 {{ site.company }} &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ site.url }}/assets/js/vendor/popper.min.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
  </body>
</html>
